---
- name: Set root password
  become: true
  ansible.builtin.user:
    name: root
    password: "{{ general_root_password | string | password_hash('sha512', general_root_password_salt) | string }}"
    update_password: always
  no_log: "{{ general_hide_root_password_logs }}"
